<!DOCTYPE html>
<html lang="en" ng-app="ngCheng">
  <head>
    <meta charset="UTF-8">
    <title>Kaizo Mario: Chung-Min Cheng's personal site</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Web Starter Kit">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Kaizo Mario">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sanse|Quicksand">
    <link rel="stylesheet" href="min.css">
  </head>
  <body ng-controller="MainCtrl as mainCtrl">
    <div class="sticky" sticky-offset="10" ng-cloak>
      <div class="sticky-image">
        <img src="http://www.kaizomario.com/images/cmcheng.jpg">
      </div>
      <div class="sticky-user">{{mainCtrl.data.user}}</div>
      <div class="sticky-shortintro">{{mainCtrl.data.position}}, {{mainCtrl.data.location}}</div>
      <div class="sticky-social">
        <ul class="list-inline">
          <li ng-repeat="(name, link) in mainCtrl.data.social track by $index">
            <a target="_blank" href="{{link}}">
              <i class="icon-{{name}}-sign"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="ctn-curtain section-footer" gallery gallery-config="{{mainCtrl.galleryConfig}}" ng-class="{'loading': mainCtrl.isIntervalFinished === false, 'displayed': mainCtrl.isIntervalFinished === true}">
      <div class="section-inner masthead container">
        <section class="profile">
          <div class="kaizo-mario-container">
            <div class="kaizo-mario-image-container">
              <img class="kaizo-mario-image" src="http://www.kaizomario.com/images/cmcheng.jpg">
            </div>
            <div class="kaizo-mario-pulse"></div>
          </div>
          <div class="kaizo-mario-name">
            {{mainCtrl.data.user}}
          </div>
          <div class="tagline">
            {{mainCtrl.data.position}}&nbsp;in&nbsp;{{mainCtrl.data.location}}.
          </div>
        </section>
        <section class="social">
          <ul class="social list-inline">
            <li ng-repeat="(name, link) in mainCtrl.data.social track by $index">
              <a class="links" target="_blank" href="{{link}}">
                <i class="icon-{{name}}-sign"></i>
              </a>
            </li>
          </ul>
          <div>
            <a target="_blank" href="https://www.kaizomario.com/blog/">Blog</a>
          </div>
        </section>
        <section class="experience">
          <div class="experience-left"></div>
          <div class="experience-right"></div>
        </section>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.5/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
    <script src="min.js"></script>
  </body>
</html>
